@import '@fontsource/noto-sans-arabic/400.css';
@import '@fontsource/noto-sans-arabic/500.css';
@import '@fontsource/noto-sans-arabic/700.css';

:root {
  --font-arabic: 'Noto Sans Arabic', sans-serif;
}

html[dir="rtl"] {
  font-family: var(--font-arabic);
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}